<div class="container">
<h1 class="title">Your Surveys</h1>

<h2><a href="/<%= @id %>/surveys/new">Create a Survey!</a></h2>
<br>
<% @surveys.each do |survey| %>
	<div id="survey<%= survey.id %>" class="survey">
	  <h2 class="survey_name"><a href="/<%= @id %>/surveys/<%= survey.id %>/results"><%= survey.name %></a>
	  </h2>
	  <p>Send to your friends! <input type="text" value="localhost:9393/<%= @id %>/surveys/<%= survey.id %>"/></p>
	  <h4>Questions:</h4>
	  <ul class="question_list">
	  <% survey.questions.each do |question| %>
	  <li ><p><%= question.text %></p></li>
	  <% end %>
	</ul>
	  <button id="<%= survey.id%>" class="delete">Delete</button>
	</div>
<% end %>
</div>
