<h1><%= @survey.name %></h1>


<form action='' method='post'>
  <% @survey.questions.each do |question| %>
    <h3><%= question.text %></h3>
    <% question.choices.each do |choice| %>
      <%= choice.text %><input type="radio" name="<%= choice.id %>" value="<%= choice.text %>"/><br>
    <% end %>
  <% end %>
  <br>
  <input type="submit" value="Submit Survey!"/>
</form>

