<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/js/results.js"></script>
  <title></title>
</head>
<body>
  <div class="container">
  <h1><%= @survey.name %></h1>
   <div id="results">
  <!--  <button id="visualize">Visualize!</button> -->
   <% n = 1 %>	
    <% @survey.questions.each do |question| %>
      <h3 class="q_text"><%= question.text %></h3>
     <% c = 1 %>
      <% question.choices.each do |choice| %>
        <h4 class="choice_text<%= n %>"><%= choice.text %></h4>
        <p class="<%= c %>choice_count<%= n %>"><%= choice.percentage %>%</p>
        <% c += 1 %>
      <% end %>
      <% n += 1 %>
    <% end %>
   </div>
  </div>
</body>
</html>